/* ===== VARIÁVEIS CSS ===== */
:root {
    --header-height: 3rem;
    --font-semi: 600;
    --first-color: #4070f4;
    --background-light:#a0a9c215;
    --second-color: #173b4e;
    --dark-theme-color: white;
    --dark-theme-link: #b1c3f5;
    --dark-theme-background: black;
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}